cssCopy code/* CSS Reset */
html, body, div, span, applet, object, iframe,
 h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, hgroup, 
menu, nav, output, ruby, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.heder{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* 

.mini-header{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    margin-bottom: 40px;
    margin-top: 40px;

}
.countries-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content:space-between;
  }
  .box{
    height: 100%;
    background-color:rgb(255,255,255);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .country {
    width: 280px;
    height: 350px;
    
  }
  
  .country .img-2 {
    width: 100%;
    height:160px;
    border-radius: 8px 8px 0 0;
  }
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    height: 80px;
    background-color: rgb(255,255,255);
    margin-bottom: 5px;
   

}
.main-heading{
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
} 

input{
    width: 400px;
    height: 40px;
    padding-left: 30px;
} */
/* .icon{
    position: absolute;
    margin-left: 10px;
    margin-top: 15px;
    margin-right: 10px;
} */
/* .information{
    padding-left: 30px;
    padding-bottom: 10px;
    padding-right: 10px;
  
}
*/
/* .toggle-button {
    border: none;
    background:none;
    font-size: 18px;
}
.light-mode {
    background-color: #f0f0f0; 
    color: #000; 
}

.dark-mode {
    background-color:rgb(32,45,54); 
    color: #fff; 
}  */


/* .dark-mode .header,.dark-mode .box,.dark-mode .header button,.dark-mode input ,.dark-mode select,.dark-mode .main-heading{
    background-color: rgb(43,55,67); 
    color: #fff; 
} */

/* .dark-mode input,.dark-mode select{
    border: none;
}
.dark-mode input::placeholder {
    color: #ccc; 
}
.selected .mini-header {
    display: none !important;
  }
   */
.countire-details{
  display: flex;
  width:80vw;
  height: 40vh;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.dark-mode .button2{
  text-decoration: none;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 120px;
  height: 250px;
  text-align: center;
  background-color:rgb(32,45,54); 
  color: #fff;
  padding: 14px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.button2{
  text-decoration: none;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 120px;
  height: 250px;
  text-align: center;
  padding: 14px;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.box1{
    display: flex;
    width:80vw;
    height: 43vh;
       
   
}
.imgs-1{
   width: 35vw;
   height: 43vh;
}
.inside-1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
  
    
  
   
}
.dark-mode .button1{
    /* color: white; */
  
    background-color: rgb(43,55,67); 
    margin: 20px;
   width: 80px;
   height: 25px;
   background: none;
   
    color: white;
    border: 1px solid rgb(43,55,67);


}
.button1{

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 20px;
  width: 80px;
  height: 25px;
  background-color: white;
  border: 1px solid white;

}
.button{
    width: 60px;
    height: 20px;
    
}

.information1{
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 200px;
   
  
}
.information2{
    padding-top: 20px;
    margin-left: 200px;
    width:500px;

}

/* .subregions {
    display: none; 
  }
  
  .subregions.visible {
    display: block; 
  } */
/* 
  select,input{
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    background-color: white;
    border: none;

  } */
  p{
    opacity: 0.8;
  }
  h4{
    position: relative;
    text-align: center;
    top: 250px;
    font-size: 80px;
   
  }
  .red {
    color: red;
  
  }
  .link{
    text-decoration: none;
    color:black;
  }
  .back-text {
    margin-left: 19px;
  }


/* metrial ui home page */
.toggle-button {
  border: none;
  background: none;
  font-size: 18px;

}
.light-mode {
  background-color: #f0f0f0; 
  color: #000; 
}

.dark-mode {
  background-color:rgb(32,45,54); 
  color: #fff; 
} 
.dark-mode .toggle-button{
  background: none;
}
.dark-mode .selectbut{
  background-color: rgb(43,55,67);
  color: #fff !important; 

}

.light-mode .display {
  background-color: #f0f0f0;
  color: #000 !important; 
}
.dark-mode .display1{
  background-color: rgb(43,55,67);
  color: #fff !important; 
}
.dark-mode .displaytext{
  color: #fff !important; 
}
.dark-mode .display,.dark-mode .toggle-button,.dark-mode   title  {
  background-color: rgb(32, 45, 54);
  color: #fff !important; 
}
.dark-mode .title{
  color: #fff !important; 
  font-size: 24px;
}
.title{
  font-size: 24px !important;
}
.dark-mode .boxs{
  background-color: rgb(43,55,67);
  color: #fff !important; 
}
.dark-mode .selectbut{
  background-color: rgb(43,55,67);
  color: #fff !important; 
}
.dark-mode #demo-mutiple-name-label{
  color: #fff !important; 
}
.dark-mode .MuiMenuItem-root {
  background-color: rgb(43,55,67)!important;
  color: #fff !important;
}