* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.toggle-button {
    border: none;
    background: none;
    font-size: 18px;

}
.dark-mode .toggle-button{
    background: none;
}

.light-mode .display {
    background-color: #f0f0f0;
    color: #000 !important; 
}
.dark-mode .display1{
    background-color: rgb(43,55,67);
    color: #fff !important; 
}
.dark-mode .displaytext{
    color: #fff !important; 
}
.dark-mode .display,.dark-mode .toggle-button,.dark-mode   title  {
    background-color: rgb(32, 45, 54);
    color: #fff !important; 
}
.dark-mode .title{
    color: #fff !important; 
    font-size: 24px;
}
.title{
    font-size: 24px;
}
.dark-mode .boxs{
    background-color: rgb(43,55,67);
    color: #fff !important; 
}
.dark-mode .selectbut{
    background-color: rgb(43,55,67);
}